html body {
	margin-top: 20px;
}

th, .selectable {
	cursor: pointer;
}

.table-striped tbody tr.selected td {
	background-color: #FFFF88;
}

.table-striped tbody tr.won td {
	background-color: #88FF88;
}

.table-striped tbody tr.lost td {
	background-color: #FF8888;
}

.table-striped tbody tr.tied td {
	background-color: #8888FF;
}