<div class="tab-pane" id="all-time-content">
  <div class="row">
    <div class="col-md-6">
      <table id="player-all-time-table" class="table table-condensed table-striped table-hover tablesorter">
    <thead>
      <th>Name</th>
      <th>Goals</th>
      <th>Seasons Played</th>
      <th>Goals / Season</th>
      <th>League Titles</th>
      <th>Championships</th>
    </thead>
    <tbody>
      {{#each playerStatistics}}
        <tr>
          <td role="player">{{name}}</td>
          <td>{{goals}}</td>
          <td>{{seasonsPlayed}}</td>
          <td>{{goalsPerSeason}}</td>
          <td>{{leagueWinner}}</td>
          <td>{{playoffWinner}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    </div>
    <div class="col-md-6">
      <table id="goalie-all-time-table" class="table table-condensed table-striped table-hover tablesorter">
        <thead>
          <th>Name</th>
          <th>Shutouts</th>
        </thead>
        <tbody>
          {{#each goalieStatistics}}
            <tr>
              <td role="player">{{name}}</td>
              <td>{{shutouts}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
