<table id="{{id}}-standings-table" class="table table-condensed table-striped table-hover tablesorter">
	<thead>
		<th>Rank</th>
		<th>Name</th>
		<th>W</th>
		<th>L</th>
		<th>T</th>
		<th>Pts</th>
		<th>GF</th>
		<th>GA</th>
		<th>GD</th>
		<th>GP</th>
		<th>Shutouts</th>
	</thead>
	<tbody>
		{{#each this.standings}}
			<tr id="{{teamId}}" class="selectable">
				<td>{{#if rank}}{{rank}}{{/if}}</td>
				<td>
					{{team}}
					{{#if leagueWinner}}
					<i class="fas fa-award" style="color: #3399ff;" title="League Winner"></i>
					{{/if}}
					{{#if playoffWinner}}
					<i class="fas fa-trophy" style="color: #ffcc00;" title="Playoff Winner"></i>
					{{/if}}
				</td>
				<td>{{wins}}</td>
				<td>{{losses}}</td>
				<td>{{ties}}</td>
				<td>{{points}}</td>
				<td>{{goalsFor}}</td>
				<td>{{goalsAgainst}}</td>
				<td>{{goalDifferential}}</td>
				<td>{{gamesPlayed}}</td>
				<td>{{shutouts}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
<div id="{{id}}-team-schedule"></div>
