<div class="sidebar col-md-2">
    <div class="sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">Seasons</li>
            {{#each seasons}}
            <li {{#unless @index}}class='active'{{/unless}}><a href="#season-{{id}}" data-toggle="tab">{{name}}</a></li>
            {{/each}}
            <li class="nav-header">Statistics</li>
            <li><a href="#all-time" data-toggle="tab">All Time</a></li>
        </ul>
    </div><!--/.well -->
</div>
<div class="tab-content col-md-offset-2 col-md-10">
  {{#each seasons}}
  <div class="tab-pane {{#unless @index}}active{{/unless}}" id="season-{{id}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{name}} Season</h1>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#standings-{{id}}" data-toggle="pill">Standings</a></li>
                    <li><a href="#schedule-{{id}}" data-toggle="pill">Schedule</a></li>
                    <li><a href="#statistics-{{id}}" data-toggle="pill">Statistics</a></li>
                    <li><a href="#playoffs-{{id}}" data-toggle="pill">Playoffs</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="standings-{{id}}">{{> standings this}}</div>
                    <div class="tab-pane" id="schedule-{{id}}">{{> league_schedule this}}</div>
                    <div class="tab-pane" id="statistics-{{id}}">{{> statistics this}}</div>
                    <div class="tab-pane" id="playoffs-{{id}}">{{> playoff_schedule this}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {{/each}}
  {{> alltime this}}
</div>