<div class="sidebar col-md-2">
    <div class="sidebar-nav">
        <ul class="nav nav-list" id="comp-menu">
            <li class="nav-header">Seasons</li>
            {{#each seasons}}
            <li {{#unless @index}}class='active'{{/unless}} id="menu-season-{{id}}"><a href="#/seasons/{{id}}">{{name}}</a></li>
            {{/each}}
            <li class="nav-header">Statistics</li>
            <li id="menu-all-time"><a href="#/alltime">All Time</a></li>
        </ul>
    </div><!--/.well -->
</div>
<div class="tab-content col-md-offset-2 col-md-10" id="comp-panels">
  {{#each seasons}}
  <div class="tab-pane {{#unless @index}}active{{/unless}}" id="season-{{id}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{name}} Season</h1>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#standings-{{id}}">Standings</a></li>
                    <li><a href="#schedule-{{id}}">Schedule</a></li>
                    <li><a href="#statistics-{{id}}">Statistics</a></li>
                    <li><a href="#playoffs-{{id}}">Playoffs</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="standings-{{id}}">{{> standings this}}</div>
                    <div class="tab-pane" id="schedule-{{id}}">{{> league_schedule this}}</div>
                    <div class="tab-pane" id="statistics-{{id}}">{{> statistics this}}</div>
                    <div class="tab-pane" id="playoffs-{{id}}">{{> playoff_schedule this}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {{/each}}
  {{> alltime this}}
</div>