<div class="sidebar col-md-2 col-xs-3">
    <div class="sidebar-nav">
        <ul class="nav nav-list" id="comp-menu">
            <li class="nav-header">Summaries</li>
            <li id="comp-champions-menu"><a href="#/champions">All Champions</a></li>
            <li id="comp-player-statistics-menu"><a href="#/playerstatistics">Player Statistics</a></li>
            <li id="comp-goalie-statistics-menu"><a href="#/goaliestatistics">Goalie Statistics</a></li>
            <li id="comp-team-statistics-menu"><a href="#/teamstatistics">Team Statistics</a></li>
            <li id="comp-captain-statistics-menu"><a href="#/captainstatistics">Captain Statistics</a></li>
            <li class="nav-header">Seasons</li>
            {{#each seasons}}
            <li {{#unless @index}}class='active'{{/unless}} id="comp-season-{{id}}-menu"><a href="#/seasons/{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div><!--/.well -->
</div>
<div class="tab-content col-md-offset-2 col-md-10 col-xs-offset-3 col-xs-9" id="comp-content">
  {{> champions this}}
  <div class="tab-pane" id="player-statistics-content">
    <div class="tab-pane {{#unless @index}}active{{/unless}}" id="player-statistics-overall-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">Player Statistics</h1>
                  <ul class="nav nav-pills" id="player-statistics-menu">
                      <li class="active" id="player-statistics-overall-menu"><a href="#/playerstatistics/overall">Overall</a></li>
                      <li id="player-statistics-season-menu"><a href="#/playerstatistics/season">Regular Season</a></li>
                      <li id="player-statistics-playoffs-menu"><a href="#/playerstatistics/playoffs">Playoff</a></li>
                  </ul>
                  <div class="tab-content" id="player-statistics-tabs">
                      <div class="tab-pane active" id="player-statistics-overall">{{> player_statistics this.playerDetailedStatsMap.overall}}</div>
                      <div class="tab-pane" id="player-statistics-season">{{> player_statistics this.playerDetailedStatsMap.season}}</div>
                      <div class="tab-pane" id="player-statistics-playoffs">{{> player_statistics this.playerDetailedStatsMap.playoff}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="goalie-statistics-content">
    <div class="tab-pane {{#unless @index}}active{{/unless}}" id="goalie-statistics-overall-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">Goalie Statistics</h1>
                  <ul class="nav nav-pills" id="goalie-statistics-menu">
                      <li class="active" id="goalie-statistics-overall-menu"><a href="#/goaliestatistics/overall">Overall</a></li>
                      <li id="goalie-statistics-season-menu"><a href="#/goaliestatistics/season">Regular Season</a></li>
                      <li id="goalie-statistics-playoffs-menu"><a href="#/goaliestatistics/playoffs">Playoff</a></li>
                  </ul>
                  <div class="tab-content" id="goalie-statistics-tabs">
                      <div class="tab-pane active" id="goalie-statistics-overall">{{> goalie_statistics this.goalieDetailedStatsMap.overall}}</div>
                      <div class="tab-pane" id="goalie-statistics-season">{{> goalie_statistics this.goalieDetailedStatsMap.season}}</div>
                      <div class="tab-pane" id="goalie-statistics-playoffs">{{> goalie_statistics this.goalieDetailedStatsMap.playoff}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="team-statistics-content">
    <div class="tab-pane {{#unless @index}}active{{/unless}}" id="team-statistics-overall-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">Team Statistics</h1>
                  <ul class="nav nav-pills" id="team-statistics-menu">
                      <li class="active" id="team-statistics-overall-menu"><a href="#/teamstatistics/overall">Overall</a></li>
                      <li id="team-statistics-season-menu"><a href="#/teamstatistics/season">Regular Season</a></li>
                      <li id="team-statistics-playoffs-menu"><a href="#/teamstatistics/playoffs">Playoff</a></li>
                  </ul>
                  <div class="tab-content" id="team-statistics-tabs">
                      <div class="tab-pane active" id="team-statistics-overall">{{> team_statistics this.teamStatMap.overall}}</div>
                      <div class="tab-pane" id="team-statistics-season">{{> team_statistics this.teamStatMap.season}}</div>
                      <div class="tab-pane" id="team-statistics-playoffs">{{> team_statistics this.teamStatMap.playoff}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="captain-statistics-content">
    <div class="tab-pane {{#unless @index}}active{{/unless}}" id="captain-statistics-overall-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="page-header">Captain Statistics</h1>
                  <ul class="nav nav-pills" id="captain-statistics-menu">
                      <li class="active" id="captain-statistics-overall-menu"><a href="#/captainstatistics/overall">Overall</a></li>
                      <li id="captain-statistics-season-menu"><a href="#/captainstatistics/season">Regular Season</a></li>
                      <li id="captain-statistics-playoffs-menu"><a href="#/captainstatistics/playoffs">Playoff</a></li>
                  </ul>
                  <div class="tab-content" id="captain-statistics-tabs">
                      <div class="tab-pane active" id="captain-statistics-overall">{{> captain_statistics this.captainStatMap.overall}}</div>
                      <div class="tab-pane" id="captain-statistics-season">{{> captain_statistics this.captainStatMap.season}}</div>
                      <div class="tab-pane" id="captain-statistics-playoffs">{{> captain_statistics this.captainStatMap.playoff}}</div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
{{#each seasons}}
  <div class="tab-pane {{#unless @index}}active{{/unless}}" id="season-{{id}}-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{name}} Season</h1>
                <ul class="nav nav-pills" id="season-{{id}}-menu">
                    <li class="active" id="season-{{id}}-standings-menu"><a href="#/seasons/{{id}}/standings">Standings</a></li>
                    <li id="season-{{id}}-schedule-menu"><a href="#/seasons/{{id}}/schedule">Schedule</a></li>
                    {{#if this.seasonStatistics}}
                    <li id="season-{{id}}-overall-statistics-menu"><a href="#/seasons/{{id}}/statistics/overall">Overall Statistics</a></li>
                    <li id="season-{{id}}-season-statistics-menu"><a href="#/seasons/{{id}}/statistics/season">Regular Season Statistics</a></li>
                    <li id="season-{{id}}-playoff-statistics-menu"><a href="#/seasons/{{id}}/statistics/playoff">Playoff Statistics</a></li>
                    <li id="season-{{id}}-playoffs-menu"><a href="#/seasons/{{id}}/playoffs">Playoffs</a></li>
                    {{/if}}
                </ul>
                <div class="tab-content" id="season-{{id}}-tabs">
                    <div class="tab-pane active" id="season-{{id}}-standings">{{> standings this}}</div>
                    <div class="tab-pane" id="season-{{id}}-schedule">{{> league_schedule this}}</div>
                    {{#if this.seasonStatistics}}
                    <div class="tab-pane" id="season-{{id}}-overall-statistics">{{> statistics this.seasonStatistics.overall}}</div>
                    <div class="tab-pane" id="season-{{id}}-season-statistics">{{> statistics this.seasonStatistics.season}}</div>
                    <div class="tab-pane" id="season-{{id}}-playoff-statistics">{{> statistics this.seasonStatistics.playoff}}</div>
                    <div class="tab-pane" id="season-{{id}}-playoffs">{{> playoff_schedule this}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
  </div>
  {{/each}}
</div>
