<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">SAS Competitive Soccer</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Seasons <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {{#each seasons}}
                        <li {{#unless @index}}class='active'{{/unless}}><a href="#season-{{id}}" data-toggle="tab">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>
                <li><a href="#all-time" data-toggle="tab">Statistics</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://wss.na.sas.com/rfc/sports/SitePages/Field%20Status.aspx">Field Status</a></li>
                <li><a id="weather" href="http://weather.yahoo.com/united-states/north-carolina/cary-2375810/"></a></li>
                <li class="divider-vertical"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>