<!-- Modal -->
<div id="playerDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
                <span class="badge">{{goals}}</span> Goals<br/>
                <span class="badge">{{leagueWinner}}</span> League Winner<br/>
                <span class="badge">{{playoffWinner}}</span> Playoff Winner<br/>
            </div>
        </div>
    </div>
</div>