<!-- Modal -->
<div id="playerDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 text-center"><h4>Seasons</h4></div>
                                <div class="col-md-4 text-center"><h4>League Titles</h4></div>
                                <div class="col-md-4 text-center"><h4>Championships</h4></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 text-center"><h4>{{seasonsPlayed}}</h4></div>
                                <div class="col-md-4 text-center"><h4>{{leagueWinner}}</h4></div>
                                <div class="col-md-4 text-center"><h4>{{playoffWinner}}</h4></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <svg id="goals-per-season"></svg>
                    </div>

                    <div class="row">
                        <div class="col-md-4 text-right"><h4>Total Goals</h4></div>
                        <div class="col-md-8"><h4>{{goals}}</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>