<div class="row">
    <div class="col-md-6">
		<table id="{{id}}-player-statistics-table" class="table table-condensed table-striped table-hover">
			<thead>
				<th>Rank</th>
				<th>Top Scorers</th>
				<th>Team</th>
				<th>Goals</th>
			</thead>
			<tbody>
				{{#each this.playerStatistics}}
					<tr>
						<td>{{rank}}</td>
						<td role="player">{{name}}</td>
						<td>{{team}}</td>
						<td>{{goals}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<table id="{{id}}-goalie-statistics-table" class="table table-condensed table-striped table-hover">
			<thead>
				<th>Goalie</th>
				<th>Team</th>
				<th>Shutouts</th>
			</thead>
			<tbody>
				{{#each this.goalieStatistics}}
					<tr>
						<td role="player">{{name}}</td>
						<td>{{team}}</td>
						<td>{{shutouts}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>