<div class="sidebar col-md-2">
  <div class="sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Tables</li>
      <li class="active"><a href="#scores" data-toggle="tab">Scores</a></li>
      <li class="nav-header">Cache</li>
      <li><a href="#cache" data-toggle="tab">Reset</a></li>
    </ul>
  </div><!--/.well -->
</div>
<div class="col-md-offset-2 col-md-10">
    <div class="tab-content">
        <div class="tab-pane active" id="scores">
            {{> games this }}
        </div>
        <div class="tab-pane" id="cache">
            {{> cache this}}
        </div>
    </div>
</div>