<div class="sidebar col-md-2">
    <div class="sidebar-nav">
        <ul class="nav nav-list" id="comp-menu">
            <li class="nav-header">Seasons</li>
            {{#each seasons}}
            <li {{#unless @index}}class='active'{{/unless}} id="comp-season-{{id}}-menu"><a href="#/seasons/{{id}}">{{name}}</a></li>
            {{/each}}
            <li class="nav-header">Summaries</li>
            <li id="comp-all-time-menu"><a href="#/alltime">All Time Statistics</a></li>
            <li id="comp-champions-menu"><a href="#/champions">All Champions</a></li>
        </ul>
    </div><!--/.well -->
</div>
<div class="tab-content col-md-offset-2 col-md-10" id="comp-content">
  {{#each seasons}}
  <div class="tab-pane {{#unless @index}}active{{/unless}}" id="season-{{id}}-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">{{name}} Season</h1>
                <ul class="nav nav-pills" id="season-{{id}}-menu">
                    <li class="active" id="season-{{id}}-standings-menu"><a href="#/seasons/{{id}}/standings">Standings</a></li>
                    <li id="season-{{id}}-schedule-menu"><a href="#/seasons/{{id}}/schedule">Schedule</a></li>
                    <li id="season-{{id}}-statistics-menu"><a href="#/seasons/{{id}}/statistics">Statistics</a></li>
                    <li id="season-{{id}}-playoffs-menu"><a href="#/seasons/{{id}}/playoffs">Playoffs</a></li>
                </ul>
                <div class="tab-content" id="season-{{id}}-tabs">
                    <div class="tab-pane active" id="season-{{id}}-standings">{{> standings this}}</div>
                    <div class="tab-pane" id="season-{{id}}-schedule">{{> league_schedule this}}</div>
                    <div class="tab-pane" id="season-{{id}}-statistics">{{> statistics this}}</div>
                    <div class="tab-pane" id="season-{{id}}-playoffs">{{> playoff_schedule this}}</div>
                </div>
            </div>
        </div>
    </div>
  </div>
  {{/each}}
  {{> alltime this}}
  {{> champions this}}
</div>
