<table id="game-schedule-table" class="table table-condensed table-striped table-hover tablesorter">
	<thead>
		<th>Played</th>
		<th>Home</th>
		<th>Away</th>
		<th>Date</th>
		<th>Result</th>
	</thead>
	<tbody>
		{{#each this}}
			<tr data-game-id="{{id}}" class="selectable">
				<td><input class="played" type="checkbox" data-game-id="{{id}}" {{#if available}}checked disabled{{/if}}/>
				<td>{{home}}</td>
				<td>{{away}}</td>
				<td>{{played}}</td>
				<td id="{{gameId}}-score">{{#if available}}{{> score this}}{{/if}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>