<div class="row">
  <div class="col-md-6">
    <h4>{{home}} (<span class="{{homeId}}-score">{{homeScore}}</span>)</h4>
    <table id="home-players-table" class="table table-condensed table-striped table-hover">
      <thead>
        <th width="90px">Goals</th>
        <th>Player</th>
      </thead>
      <tbody>
        {{#each homePlayers}}
          <tr>
            <td><button class="btn btn-xs btn-success add-goal" data-player-id="{{id}}"><i class="glyphicon glyphicon-plus"></i></button> <strong id="{{id}}-goals">{{goals}}</strong> <button class="btn btn-xs btn-danger remove-goal" data-player-id="{{id}}"><i class="glyphicon glyphicon-minus"></i></button></td>
            <td>{{name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <h4>{{away}} (<span class="{{awayId}}-score">{{awayScore}}</span>)</h4>
    <table id="away-players-table" class="table table-condensed table-striped table-hover">
      <thead>
        <th width="90px">Goals</th>
        <th>Player</th>
      </thead>
      <tbody>
        {{#each awayPlayers}}
          <tr>
            <td><button class="btn btn-xs btn-success add-goal" data-player-id="{{id}}"><i class="glyphicon glyphicon-plus"></i></button> <strong id="{{id}}-goals">{{goals}}</strong> <button class="btn btn-xs btn-danger remove-goal" data-player-id="{{id}}"><i class="glyphicon glyphicon-minus"></i></button></td>
            <td>{{name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>