<h3>{{name}}</h3>
<div class="row">
    <div class="col-md-4">
        <table id="{{id}}-team-roster-table" class="table table-condensed table-striped table-hover tablesorter">
            <thead>
            <th></th>
            <th>Player</th>
            <th>Goals</th>
            </thead>
            <tbody>
            {{#each roster}}
            <tr>
                <td width="40px">
                    {{#if goalie}}
                    <img src="img/goalie.png"/>
                    {{/if}}
                    {{#if captain}}
                    <img src="img/captain.png"/>
                    {{/if}}
                    {{#if coCaptain}}
                    <img src="img/cocaptain.png"/>
                    {{/if}}
                </td>
                <td role="player">{{name}}</td>
                <td>{{goals}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
    	<table id="{{id}}-team-schedule-table" class="table table-condensed table-striped table-hover tablesorter">
			<thead>
				<th>Home</th>
				<th>Away</th>
				<th>Date</th>
				<th>Result</th>
			</thead>
			<tbody>
				{{#each schedule}}
					<tr id="{{id}}" class="{{result}} selectable">
						<td>{{#if homeTeam}}<strong>{{/if}}{{home}}{{#if homeTeam}}</strong>{{/if}}</td>
						<td>{{#if awayTeam}}<strong>{{/if}}{{away}}{{#if awayTeam}}</strong>{{/if}}</td>
						<td>{{played}}</td>
						<td>{{#if available}}{{score}}{{/if}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div id='{{id}}-goal-summary'></div>
    </div>
</div>
