<h3>Games</h3>
<br/>
Select a date
<br/>
<div class="input-append date game-datepicker" data-date-format="mm/dd/yyyy">
	<input size="16" type="text" readonly><span class="add-on"><i class="icon-calendar"></i></span>
</div>
<br/>
Select a game
<br/>
<table id="admin-games-table" class="table table-condensed table-bordered table-striped table-hover tablesorter">
	<thead>
		<th>Home</th>
		<th>Away</th>
		<th>Date</th>
		<th>Result</th>
	</thead>
	<tbody>
	</tbody>
</table>
<br/>
Update a score
<br/>
Done
<br/>