<table id="{{id}}-schedule-table" class="table table-bordered table-striped table-hover tablesorter">
	<thead>
		<th>Home</th>
		<th>Away</th>
		<th>Date</th>
		<th>Result</th>
	</thead>
	<tbody>
		{{#each games}}
			<tr>
				<td>{{#teamName ../this homeTeamId}}{{/teamName}}</td>
				<td>{{#teamName ../this awayTeamId}}{{/teamName}}</td>
				<td>{{#dateFormat date}}{{/dateFormat}}</td>
				<td>{{homeScore}} - {{awayScore}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
<script>
	$('#{{id}}-schedule-table').tablesorter( {sortList: [[3,0]]} ); 
</script>