<div class="row-fluid">
    <div class="span6">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<th>Rank</th>
				<th>Top Scorers</th>
				<th>Team</th>
				<th>Goals</th>
			</thead>
			<tbody>
				{{#each this.stats}}
					<tr>
						<td>{{rank}}</td>
						<td>{{top_scorers}}</td>
						<td>{{team}}</td>
						<td>{{goals}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="span6">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<th>Goalie</th>
				<th>Team</th>
				<th>Shutouts</th>
				<th>Goals Against</th>
			</thead>
			<tbody>
				{{#each this.goalie_stats}}
					<tr>
						<td>{{goalie}}</td>
						<td>{{team}}</td>
						<td>{{shutouts}}</td>
						<td>{{goals_against}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
    </div>
</div>