<table id="{{id}}-standings-table" class="table table-bordered table-striped table-hover tablesorter">
	<thead>
		<td>Rank</td>
		<td>Name</td>
		<td>W</td>
		<td>L</td>
		<td>T</td>
		<td>Pts</td>
		<td>GF</td>
		<td>GA</td>
		<td>GD</td>
	</thead>
	<tbody>
		{{#each this.teams}}
			<tr>
				<td>{{rank}}</td>
				<td>{{name}}</td>
				<td>{{wins}}</td>
				<td>{{losses}}</td>
				<td>{{ties}}</td>
				<td>{{points}}</td>
				<td>{{goalsFor}}</td>
				<td>{{goalsAgainst}}</td>
				<td>{{goalDifferential}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
<script>
    $('#{{id}}-standings-table').tablesorter( {sortList: [[0,0]]} );
</script>