<ul class="nav nav-tabs">
  {{#each seasons}}
  <li {{#unless @index}}class='active'{{/unless}}><a href="#season-{{id}}" data-toggle="tab">{{name}}</a></li>
  {{/each}}
  <li><a href="#all-time" data-toggle="tab">All Time Stats</a></li>
</ul>
<div class="tab-content">
  {{#each seasons}}
  <div class="tab-pane {{#unless @index}}active{{/unless}}" id="season-{{id}}">
    <ul class="nav nav-pills">
      <li class="active"><a href="#standings-{{id}}" data-toggle="pill">Standings</a></li>
      <li><a href="#schedule-{{id}}" data-toggle="pill">Schedule</a></li>
      <li><a href="#statistics-{{id}}" data-toggle="pill">Statistics</a></li>
      <li><a href="#playoffs-{{id}}" data-toggle="pill">Playoffs</a></li>
    </ul>
    <div class="pill-content">
      <div class="pill-pane active" id="standings-{{id}}">{{> standings this}}</div>
      <div class="pill-pane" id="schedule-{{id}}">{{> schedule this}}</div>
      <div class="pill-pane" id="statistics-{{id}}">{{> statistics this}}</div>
      <div class="pill-pane" id="playoffs-{{id}}">{{> playoffs this}}</div>
    </div>
  </div>
  {{/each}}
  <div class="tab-pane" id="all-time">
    <div class="row-fluid">
      <div class="span6">
        <table id="player-all-time-table" class="table table-bordered table-striped table-hover tablesorter">
      <thead>
        <th>Name</th>
        <th>Goals</th>
        <th>League Titles</th>
        <th>Championships</th>
      </thead>
      <tbody>
        {{#each playerStatistics}}
          <tr>
            <td>{{player}}</td>
            <td>{{goals}}</td>
            <td>{{leagueWinner}}</td>
            <td>{{playoffWinner}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
      </div>
      <div class="span6">
        <table id="goalie-all-time-table" class="table table-bordered table-striped table-hover tablesorter">
          <thead>
            <th>Name</th>
            <th>Shutouts</th>
          </thead>
          <tbody>
            {{#each goalieStatistics}}
              <tr>
                <td>{{player}}</td>
                <td>{{shutouts}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
    $('#player-all-time-table').tablesorter( {sortList: [[1,1]]} );
    $('#goalie-all-time-table').tablesorter( {sortList: [[1,1]]} );
</script>