<table id="game-schedule-table" class="table table-condensed table-bordered table-striped table-hover tablesorter">
	<thead>
		<th>Home</th>
		<th>Away</th>
		<th>Date</th>
		<th>Result</th>
	</thead>
	<tbody>
		{{#each this}}
			<tr id="{{gameId}}" class="selectable">
				<td>{{home}}</td>
				<td>{{away}}</td>
				<td>{{played}}</td>
				<td>{{#if result}}<span class="{{homeId}}-score">{{homeScore}}</span> - <span class="{{awayId}}-score">{{awayScore}}</span>{{/if}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>