<div class="row-fluid">
    <div class="span6">
    	<table id="{{id}}-team-schedule-table" class="table table-condensed table-bordered table-striped table-hover tablesorter">
			<thead>
				<th>Home</th>
				<th>Away</th>
				<th>Date</th>
				<th>Result</th>
			</thead>
			<tbody>
				{{#each schedule}}
					<tr id="{{gameId}}" class="{{result}} selectable">
						<td>{{home}}</td>
						<td>{{away}}</td>
						<td>{{played}}</td>
						<td>{{score}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<div id='{{id}}-goal-summary'></div>
    </div>
    <div class="span6">
    	<table id="{{id}}-team-roster-table" class="table table-condensed table-bordered table-striped table-hover tablesorter">
			<thead>
				<th colspan=2>Roster</th>
				<th>Goals</th>
			</thead>
			<tbody>
				{{#each roster}}
					<tr>
						<td width="20px">
						{{#if goalie}}
							<img src="images/goalie.png"/>
						{{/if}}
						{{#if captain}}
							<img src="images/captain.png"/>
						{{/if}}
						{{#if coCaptain}}
							<img src="images/cocaptain.png"/>
						{{/if}}
						</td>
						<td>{{player}}</td>
						<td>{{goals}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
    </div>
</div>
