@import "../components/bootstrap/less/bootstrap.less";
@import "../components/bootstrap/less/theme.less";

@import "../components/bootstrap-datepicker/less/datepicker3.less";

body {
	padding-top: 60px;
    padding-bottom: 30px;
}

th, .selectable {
	cursor: pointer;
}

.table-striped tbody tr.won td {
	background-color: #88FF88;
}

.table-striped tbody tr.lost td {
	background-color: #FF8888;
}

.table-striped tbody tr.tied td {
	background-color: #FFFF88;
}

.table-striped tbody tr.selected td {
	background-color: #8888FF;
}

.table-striped tbody tr#goalsRow td {
	background-color: #EDEDED;
	-moz-box-shadow: inset 0 3px 3px rgba(128, 128, 128, .5);
	-webkit-box-shadow: inset 0 3px 3px rgba(128, 128, 128, .5);
	box-shadow: inset 0 3px 3px rgba(128, 128, 128, .5);
}

#footer {
  height: 30px;
  min-height: 30px;
}

#footer .navbar-brand {
  padding-top: 5px;
  padding-right: 15px;
  font-size: 16px;
}

.tab-content {
  margin-top: 10px;
}

.sidebar {
}

//@import "../components/bootstrap/less/responsive.less";

// Navbar
// -------------------------
@navbar-default-color:       #00539B;
@navbar-default-bg:                         darken(@navbar-default-color, 5%);
@navbar-border:                             darken(@navbar-default-bg, 12%);

@navbar-text:                               #DDD;
@navbar-default-link-color:                 #DDD;
@navbar-default-link-color-hover:            @gray-lighter;
@navbar-default-link-color-active:           @gray-lighter;
@navbar-default-link-background-hover:       transparent;
@navbar-default-link-background-active:      darken(@navbar-default-bg, 2%);

@navbar-default-brand-color:                 @navbar-default-link-color;

// D3 styling for brackets

.node rect {
  cursor: pointer;
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font: 14px sans-serif;
  cursor: pointer;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.champion {
  fill: #AAF !important;
  stroke: black !important;
  stroke-width: 1.5px !important;
}
